body {
	background-color: #B9D6F2;
	color: #483C46;
	border: 2px;
	border-color: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
	border-radius: 16px;
	font-family: sans-serif;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	min-width: 256px;
	padding-top: 8px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
}

/* Links */

a {
	color: #006DAA;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: #99EB99;
	border: 6px solid #99EB99;
	border-radius: 10px;
}

a:visited {
	color: #006DAA;
}

a:link {
	color: #006DAA;
}

/* Navigation Bar */

nav ul {
	list-style-type: none;
	background-color: #C3FFC2;
	border: 4px solid #111111;
	border-radius: 10px;
	font-family: sans-serif;
	font-weight: bold;
	padding: 16px;
}

nav ul li {
	display: inline;
	border-right: 2px solid #111111;
	padding-right: 8px;
	padding-left: 8px;
}

nav ul li:last-child {
	border-right: none;
}

nav ul li a {
	text-decoration: none;
	color: #111111;
}

/* Top Tip */

p.top-tip {
	border: 4px solid #00AFEB;
	border-radius: 10px;
	padding: 16px;
	background-color: #C5EBFB;
}

p.top-tip::before {
	color: Black;
	content: "TOP TIP: ";
	font-weight: bold;
}

/* Images */

img {
	border: 4px solid Gray;
	border-radius: 10px;
}

/* Borders */

p.dotted {
	border-style: dotted;
}
p.dashed {
	border-style: dashed;
}
p.solid {
	border-style: solid;
}
p.double {
	border-style: double;
}
p.groove {
	border-style: groove;
}
p.ridge {
	border-style: ridge;
}
p.inset {
	border-style: inset;
}
p.outset {
	border-style: outset;
}
p.none {
	border-style: none;
}
p.hidden {
	border-style: hidden;
}
p.mix {
	border-style: dotted dashed solid double;
}
