html {
	scroll-behavior: smooth;
}

body {
	background-color: #FFFFFF;
	color: #353535;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	/*
	max-width: 1024px;
	min-width: 256px;*/
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

/* Links */

a, a:visited, a:link {
	color: #006DAA;
	text-decoration: none;
}

/* Navigation Bar */

div#navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

div#navbar ul {
	list-style-type: none;
    margin: 0px;
    padding: 0px;
}

div#navbar ul a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

div#navbar ul a:hover {
  background-color: #ddd;
  color: black;
}

div#navbar ul a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


div#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 0;
  width: 100%;
}

div#navbar ul li {
  float: left;
}
/*
div.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
*/
div#navbar ul li {
  border-right: 1px solid #bbb;
}

div#navbar ul li:last-child {
  border-right: none;
}

div#navbar ul li a.active {
	background-color: #04AA6D;
}

/* Top Tip */

p.top-tip {
	border: 4px solid #00AFEB;
	border-radius: 10px;
	padding: 16px;
	background-color: #C5EBFB;
}

p.top-tip::before {
	color: Black;
	content: "TOP TIP: ";
	font-weight: bold;
}

/* Images */

img {
	border: 4px solid Gray;
	border-radius: 10px;
}

/* Footer */

#footer {
	background-color: #F1F1F1;
	display: block;
	padding: 16px;
	text-align: center;
}
